body {
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

/* Commons */

.no-space {
    margin: 0;
    padding: 0;
}

.bottom-space {
    padding-bottom: 10px;
}

.right-align {
    float: right;
}

/* header */

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 250px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

ul > li {
    align-items: center; 
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    display: flex;
}

.logo{
    flex: 1;
    align-items: center;
}

.logo h3{
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

/* Header information section */

.info-container {
    display: flex;
    padding-bottom: 30px;
    gap: 20px;
    height: 225px;
}

.info-item-2 img{
    width:100%;
    max-height:100%;
    object-fit: cover;
}

.info-item-1 {
   flex: 1;
   display: flex;
   flex-direction: column;
   margin: 0;
   gap: 10px;
}

.info-item-2 {
    flex: 1; 
}

.info-item-1 h1{
    font-size: 42px;
    font-weight: bolder;
    margin: 10px auto;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    height: 30px;
}

.left {
    display: inline-block;
    width: 85%;
}

.sign-up.right {
    border: 1px solid #F9FAF8;
}

/* details */

.details {
    align-items: center;
    text-align: center;
    padding: 0px 300px 30px;
}

.details h3 { 
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.details-image {
    padding: 20px;
    width: 50px;
    height: 50px;
    object-fit:cover;
}

.details-flex-container {
    display: flex;
    justify-content: center;
}

figure {
    width: 150px;
    height: 150px;
    border:1px solid #3882F6;
    border-radius: 5px;
    text-align: center;
}

.img1::after {
    color: #1F2937;
    content: 'Cost as low as 3 dollars per meal';
}
.img2::after {
    content: 'Cost as low as 3 dollars per meal';
}
.img3::after {
    content: 'Cost as low as 3 dollars per meal';
}
.img4::after {
    content: 'Cost as low as 3 dollars per meal';
}

/* Testimonials section */

.testimonials {
    background-color: #E5E7EB;
    padding: 20px 300px;
    text-align: center;
    font-style: italic;
    font-size: large;
    overflow: hidden;
}

/* Signup reminder section */

.signup-reminder {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 30px;
    margin: 30px 330px;
}

/* Footer section */

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 40px;
    padding: 5px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}