body {
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

/* Commons */

.no-space {
    margin: 0;
    padding: 0;
}

.bottom-space {
    padding-bottom: 10px;
}

.right-align {
    float: right;
}

.center-align {
    text-align: center;
}

/* header */

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 250px;
}

/* header navigation */

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo h3{
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

/* Header information section */

.info-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    gap: 20px;
    height: 200px;
}

.info-item-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.info-item-right {
    flex: 1;
    width: 100%;
    height: 100%;
}

.info-item-right img{
    width: 100%;
    height: 100%;
}

.info-item-1 h1{
    font-size: 42px;
    font-weight: bolder;
    margin: 10px auto;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    height: 30px;
}

.info-item-2 img{
    width:100%;
    height: 225px;
    object-fit: cover;
}

/* details */

.details {
    align-items: center;
    text-align: center;
    padding: 0px 300px 30px;
}

.details h3 { 
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.details-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details-flex-container figure {
    width: 150px;
    height: 150px;
    border:1px solid #3882F6;
    border-radius: 5px;
    text-align: center;
}

.details-image {
    padding: 20px;
    width: 50px;
    height: 50px;
    object-fit:cover;
}

/* Testimonials section */

.testimonials {
    background-color: #E5E7EB;
    padding: 20px 300px;
    text-align: center;
    font-style: italic;
    font-size: large;
    overflow: hidden;
    border: 1px solid black;
}

/* Signup reminder section */

.signup-reminder {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 30px;
    margin: 30px 330px;
}

.left {
    display: inline-block;
    width: 85%;
}

.sign-up.right {
    border: 1px solid #F9FAF8;
}

/* Footer section */

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 40px;
    padding: 5px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0px 10px;
    }
    .info-container {
        max-height: unset;
    }
    .details {
        padding: 0px 10px 20px;
    }
    .testimonials {
        padding: 10px;
    }
    .signup-reminder {
        padding: 10px;
        margin: 10px;
    }
  }