/* Commons */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --bg-color: #1F2937;
    --btn-color: #3882F6;
    --font-color: #F9FAF8;
}

.wrapper {
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.header {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.container a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
    margin: 15px auto;
}

.logo {
    padding-bottom: 10px;
 }

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
    padding-bottom: 10px;
}

.nav-links li{
    text-align: left;
}

.info-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 10px;
}

.info-left p {
    width: 95%;
    text-align: justify;
    line-height: 1.4rem;
    padding-bottom: 10px;
}

.info-left h1{
    width: 95%;
    font-size: 42px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    height: 30px;
}

.info-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.info-right img {
    width: 100%;
    height: 225px;
    padding-left: 10px;
    object-fit: cover;
}

.details {
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: 15px auto;
}

.details h3 { 
    font-size: 32px;
    font-weight: bolder;
    color: var(--bg-color);
    padding-bottom: 20px;
}

.details-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.details-flex-container figure {
    width: 150px;
    height: 150px;
    border:1px solid var(--btn-color);
    border-radius: 5px;
    text-align: center;
}

.details-image {
    padding: 20px;
    width: 50px;
    height: 50px;
    object-fit:cover;
}

.testimonials {
    background-color: #E5E7EB;
    text-align: center;
    font-style: italic;
    font-size: large;
    border: 1px solid black;
    padding: 20px;
}

.signup-reminder {
    background-color: #3882F6;
    display: flex;
    color: #F9FAF8;
    border-radius: 5px;
    max-width: 80%;
    gap: 20px;
    margin: 15px auto;
}

.reminder-left {
    text-align: left;
    padding: 20px;
    display: inline-block;
    width: 85%;
    justify-content: flex-start;
}

.reminder-right {
    padding: 20px;
    align-items: flex-end;
}

.sign-up.right {
    border: 1px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 15px;
}
